body {
  background-color: #fbf0f0;
}

table {
  width: 100%;
  text-align: left;
}
  
.completed {
  color: rgb(33, 0, 247);
  text-decoration: line-through;
}
  
body{
  background-color: rgba(195, 244, 181, 0.638);
  text-align: left;
}
  
table {
  width: 100%;
  text-align: left;
}
.thead {
  font-size: x-large;

}